params {
    outdir = "results"
    uta_schema = "uta_20241220"    
    mutilizer_cache = "${projectDir}/../data/mutilizer_db.csv"
    fasta = ""
}

profiles {
    // Settings for the GitHub Codespace
    standard {
        params.fasta = "../data/Homo_sapiens_assembly19.fasta"
        params.uta_schema = "uta_20241220"
        
        env {
            ANNOVAR_HOME = "${projectDir}/../annovar"
            PYTHONPATH = "${projectDir}/../python/src"
        }
        
        docker.enabled = true
    }

    // Settings for running locally in mac dev environment
    mac {
        params.fasta = "/opt/bioinformatics/Broad/Homo_sapiens_assembly19.fasta"
        params.uta_schema = "uta_20240523b"
        params.snpeff_jar = "/opt/bioinformatics/snpEff/snpEff.jar"
        params.snpeff_oneperline_pl="/opt/bioinformatics/snpEff/scripts//_OLD/vcfEffOnePerLine.pl"
        params.snpsift_jar = "/opt/bioinformatics/snpEff/SnpSift.jar"

        env {
            ANNOVAR_HOME = "/opt/transcript_effects/annovar"
            PYTHONPATH = "${projectDir}/../python/src"
        }
        
        // Specific to Mac M-series optimization
        process {            
            cpus = 8
            memory = '12 GB'
            executor = 'local'
        }
        
        docker.enabled = true
    }
}